
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468399909'); /* IE9*/
  src: url('iconfont.eot?t=1468399909#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468399909') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468399909') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468399909#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-plus:before { content: "\e600"; }
.icon-edit:before { content: "\e601"; }
.icon-sound:before { content: "\e602"; }
.icon-talk:before { content: "\e603"; }
.icon-appreciate:before { content: "\e604"; }
.icon-shop:before { content: "\e605"; }
.icon-back:before { content: "\e62b"; }
.icon-right:before { content: "\e62c"; }
.icon-message:before { content: "\e627"; }
.icon-appreciate-fill:before { content: "\e606"; }
.icon-qushi:before { content: "\e607"; }
.icon-search:before { content: "\e608"; }
.icon-apple:before { content: "\e625"; }
.icon-link:before { content: "\e60a"; }
.icon-talk1:before { content: "\e60b"; }
.icon-attention-fill:before { content: "\e60c"; }
.icon-attention:before { content: "\e60d"; }
.icon-cross:before { content: "\e60e"; }
.icon-check:before { content: "\e60f"; }
.icon-box:before { content: "\e611"; }
.icon-process:before { content: "\e612"; }
.icon-password:before { content: "\e613"; }
.icon-share:before { content: "\e614"; }
.icon-wifi:before { content: "\e615"; }
.icon-message-fill:before { content: "\e628"; }
.icon-my:before { content: "\e616"; }
.icon-my-fill:before { content: "\e617"; }
.icon-qq:before { content: "\e618"; }
.icon-wechat:before { content: "\e619"; }
.icon-weibo:before { content: "\e61a"; }
.icon-bar:before { content: "\e61b"; }
.icon-share1:before { content: "\e62d"; }
.icon-more:before { content: "\e61c"; }
.icon-other:before { content: "\e61d"; }
.icon-link4:before { content: "\e629"; }
.icon-talk2:before { content: "\e62a"; }
.icon-setting:before { content: "\e62e"; }
.icon-home-fill:before { content: "\e61e"; }
.icon-home:before { content: "\e61f"; }
.icon-faxian-fill:before { content: "\e620"; }
.icon-faxian:before { content: "\e621"; }
.icon-www:before { content: "\e609"; }
.icon-shebei:before { content: "\e622"; }
.icon-kefu:before { content: "\e623"; }
.icon-link-outline:before { content: "\e624"; }
.icon-yidongmobile213:before { content: "\e626"; }
